<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDgUT73wDwSz4FC1WO278-QlRnB6wqUfMw</string>
	<key>GCM_SENDER_ID</key>
	<string>1032247355679</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.erythraean.logistics</string>
	<key>PROJECT_ID</key>
	<string>erythraeanlogistics-a94fc</string>
	<key>STORAGE_BUCKET</key>
	<string>erythraeanlogistics-a94fc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1032247355679:ios:17e10b666c4b6faf80682a</string>
</dict>
</plist>